<div class="phase-1 phase">
    <div class="precip-graph material">

    </div>
    <div class="precip-map material">

    </div>

</div>
<div class="phase-2 phase">
    <div class="imagine-if">
        Imagine if
    </div>
    <div class="input-people">
        <div class="input-people-choice material">

        </div>
        <div class="input-people-choice material">

        </div>
        <div class="input-people-choice material">

        </div>
    </div>
</div>
