<div class="phase-1 phase">
    <div class="precip-graph material">

    </div>
    <div class="precip-map material">

    </div>

</div>
<div class="narrative-wrapper">
  <div class="narrative phase">
    <div class="nar-const const-1">
      Imagine if
    </div>
    <div class="nar-var var-1">
      <div class="var-in">
      </div>
    </div>
    <div class="nar-const const-2">
      took one less shower a week for
    </div>
    <div class="nar-var var-2">
      a month.
    </div>
    <div class="nar-const const-3">
      That would be like
    </div>
    <div class="nar-var var-3">
      water enough to keep a child alive for a year.
    </div>
  </div>
</div>
<div class="phase-2 phase">
    <div class="input-people">
        <div class="input-people-choice material">
          You
        </div>
        <div class="input-people-choice material">
          Your Family
        </div>
        <div class="input-people-choice material">
          Your Community
        </div>
    </div>
</div>
