<div class="phase-1 phase">
  <div class="precip-graph material">

  </div>
  <div class="precip-map material">

  </div>

</div>
<div class="narrative-wrapper">
  <div class="art-wrapper">
    <div class="water-1"></div>
    <div class="water-2"></div>
    <div class="sky">
      <div class="center-content">
        <div class="mountain mountain-3"></div>
        <div class="mountain mountain-2"></div>
        <div class="mountain mountain-1"></div>
        <div class="sun"></div>
      </div>
    </div>
  </div>
  <div class="narrative center-content">
    <span class="nar-const const-1">
      Imagine if
    </span>
    <div class="nar-var var-1">
      <div class="var-in">
      </div>
    </div>
    <span class="nar-const const-2">
      took one less shower a week for
    </span>
    <div class="nar-var var-2">
      a month.
    </div>
    <span class="nar-const const-3">
      That would be like
    </span>
    <div class="nar-var var-3">
      26.7 days of water for a child in poverty.
    </div>
  </div>
</div>
<div class="under-narrative-content">
  <div class="phase-2 center-content">
    <div class="input-people">
      <div class="input-people-choice material">
        You
      </div>
      <div class="input-people-choice material">
        Your Family
      </div>
      <div class="input-people-choice material">
        Your Community
      </div>
    </div>
  </div>
</div>
