#story-button {
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-radius: 2px;
  background: #fff;
  box-sizing: border-box;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  position: relative;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border: 0;
  padding: 20px 80px 20px 40px;
  opacity: 0.9;
  line-height: 1.7em;
  text-align: left;
  span {
    position: absolute;
    right: 20px;
    top: calc(50% - 22px);
    font-size: 50px;
  }
}
.introduction {
  position: absolute;
  background: #0aa;
  color: white;
  z-index: 9999999;
  padding: 50px 100px 100px;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  svg {
    max-width: 100%;
  }
  p {
    line-height: 1.9em;
    font-size: 1.5em;
    margin: 1em 0;
    max-width: 1000px;
  }
  button {
    @extend #story-button;
  }
}
.theMap {
  height: 100%;
  height: 100vh;
  .content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    .action {
      position: absolute;
      z-index: 2;
      right: 30px;
      bottom: 40px;
      button {
        @extend #story-button;
        opacity: 1;
        font-size: 22px;
        line-height: 1.5em;
        background-color: #089;
        color: white;
      }
    }
    .graphs {
      width: 50%;
      width: 50vw;
      max-width: 600px;
      height: calc(100% - 100px);
      position: absolute;
      z-index: 1;
      padding: 30px;
      text-align: center;
      .reservoir,
      .usage {
        width: 100%;
        height: 45%;
        max-height: 300px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  #map {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
/* Map stuff */
.mapboxgl-map svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mg-line1-color {
  stroke: #089 !important;
}
/* Media query */
@media (min-width: 768px) {
  .reservoir,
  .usage {
    height: 250px;
  }
}
