@import 'bourbon/bourbon';
@import 'palette';
@import 'range-input';
@import 'variables';
@include font-face("robotolight", "../fonts/Roboto-Light", $file-formats: ttf eot);
@include font-face("robotocon", "../fonts/RobotoCondensed-Regular", $file-formats: ttf eot);
@include font-face("robotoreg", "../fonts/Roboto-Regular", $file-formats: ttf eot);
@include font-face("robotomed", "../fonts/Roboto-Medium", $file-formats: ttf eot);
$phase-padding: 50px 0;
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'robotoreg', sans-serif;
}
body {
  // background: #fafafa;
  background: rgb(222, 223, 183);
  color: #282828;
}
/**
 * GENERAL STYLING
 */
.material {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background: #fff;
  box-sizing: border-box;
  padding: 15px;
}
.center-content {
  max-width: 900px;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
}
/**
 * THE NARRATIVE AT THE TOP
 */
.narrative-wrapper {
  position: fixed;
  top: 0;
  background: #b7f0ee;
  width: 100%;
  color: rgb(32, 32, 32);
  box-shadow: 0 1px 5px rgb(135, 135, 135);
  z-index: 999999;
  .narrative {
    position: relative;
    padding: 30px 25px;
    line-height: 1.9em;
    font-size: 1.5em;
    min-height: 200px;
    .tagline {
      color: rgb(238, 26, 103);
    }
    div {
      display: inline-block;
      vertical-align: top;
    }
    .nar-var {
      overflow: hidden;
      position: relative;
      height: 1.8em;
      text-align: center;
      min-width: 50px;
      border-bottom: 3px solid $select-color-1;
      &.var-2 {
        border-bottom-color: $select-color-2;
      }
      &.var-3 {
        border-bottom-color: $select-color-3;
      }
      .var-in,
      .var-out {
        white-space: nowrap;
        padding: 0 5px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: -2em;
        width: 100%;
      }
    }
  }
  /**
   * FANCY ART IN THE BACKGROUND OF THE NARRATIVE AT THE TOP
   */
  .art-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .water-1 {
      position: absolute;
      bottom: 0;
      height: 20%;
      width: 100%;
      background: #089;
    }
    .water-2 {
      position: absolute;
      bottom: 13%;
      height: 7%;
      width: 100%;
      background: #0aa;
      box-shadow: 0 -10px 50px rgb(115, 115, 115);
    }
    .sky {
      position: absolute;
      top: 0;
      height: 80%;
      width: 100%;
      @include background(linear-gradient(to top, #d4f4f3 0%, #b7f1ef 80%, #8ce6e1));
      box-shadow: 0 0 10px rgb(140, 140, 140);
      .center-content {
        height: 100%;
      }
      .mountain {
        position: absolute;
        right: 45px;
        bottom: 0;
        width: 60px;
        height: 35px;
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          border-top: 35px solid transparent;
        }
        &::before {
          border-right: 25px solid rgb(190, 183, 166);
        }
        &::after {
          left: 25px;
          border-left: 25px solid rgb(223, 223, 214);
        }
      }
      .mountain-2 {
        right: 15px;
        height: 30px;
        &::before,
        &::after {
          border-top-width: 30px;
        }
        &::before {
          border-right-width: 25px;
        }
        &::after {
          left: 25px;
          border-left-width: 25px;
        }
      }
      .mountain-3 {
        right: 74px;
        height: 26px;
        &::before,
        &::after {
          border-top-width: 26px;
        }
        &::before {
          border-right-width: 23px;
        }
        &::after {
          left: 23px;
          border-left-width: 23px;
        }
      }
      .sun {
        width: 19px;
        height: 19px;
        border-radius: 100%;
        position: absolute;
        bottom: 40px;
        right: 55px;
        @include background(radial-gradient(rgb(219, 196, 71) 10%, rgb(231, 131, 27)));
      }
    }
  }
}
/**
 * Temp??
 */
.phase-temp {
  display: none;
  margin-top: 50px;
  &>div {
    margin: 0 auto;
    width: 100%;
    background: #fff;
  }
  .precip-graph {
    height: 200px;
  }
  .precip-map {
    margin-top: 10px;
    height: 400px;
  }
}
/**
 * PHASE 1
 */
.phase-1 {
  background: rgb(222, 223, 183);
  padding: $phase-padding;
  .input-people {
    width: 100%;
    font-size: 0;
    .choice-wrapper {
      width: 33%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      padding: 0 20px;
    }
    .input-people-choice {
      @include transition(all 100ms ease-out);
      position: relative;
      font-size: 24px;
      text-align: center;
      padding: 50px 0;
      cursor: pointer;
      &::after {
        @include transition(all 100ms ease-out);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: $select-color-1;
      }
    }
    .input-people-choice-selected {
      color: $select-color-1;
      @include transform(scale(0.95));
      &::after {
        height: 6px;
      }
    }
  }
}
/**
 * PHASE 2
 */
.phase-2 {
  background: rgb(209, 245, 231);
  padding: $phase-padding;
  .choice-wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    input[type="range"] {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .range-indicator {
      color: rgb(140, 140, 140);
      span:first-child {
        float: left;
      }
      span:nth-child(2) {
        float: right;
      }
    }
    .num-weeks {
      margin-top: 45px;
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      color: $select-color-2;
      &.not-selected {
        color: #000;
      }
    }
    .time-choice {
      @include transition(all 100ms ease-out);
      position: relative;
      &::after {
        @include transition(all 100ms ease-out);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: $select-color-2;
      }
    }
    .time-choice-selected {
      &::after {
        height: 6px;
      }
    }
  }
}
/**
 * PHASE 3
 */
.phase-3 {
  background: rgb(231, 242, 249);
  padding: 30px 0;
  // padding: $phase-padding;
  .choice-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .comp-choice {
    @include transition(all 100ms ease-out);
    flex-basis: 200px;
    flex-grow: 1;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img {
      width: 100%;
      border-radius: 1px;
      box-shadow: 0px 1px 2px rgb(177, 177, 177);
    }
    .title {
      text-align: center;
      font-size: 1.3em;
      margin: 5px 0px;
    }
    &::after {
      @include transition(all 100ms ease-out);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: $select-color-3;
    }
  }
  .comp-choice-selected {
    color: $select-color-3;
    @include transform(scale(0.95));
    &::after {
      height: 6px;
    }
  }
}
@media screen and (max-width: 850px) {
  .phase-1 .input-people .choice-wrapper {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    width: 90%;
  }
}
